.header{
    background-color: $background-dark;
    box-shadow: 0 -8px 10px 8px rgba(0,0,0,0.5);
    display: block;
    width: 100%;
    margin: 0 !important;
    position: relative;
    position: fixed;
    top: 0px;
    color: $font-color-light;
    z-index: 2000;
    
}