.body{
    display: flex;
    align-items: center;
}


.contenidoBasicLayout{
    margin-top: 80px !important;
    min-height: 100vh;
    text-align: center;
    @include tablet{
        margin-top: 55px!important;
    }
    @include desktop{
        margin-top: 0px 20px !important;
    }

    
    .home{
    
        background-color: $backgrond-dark-light !important;
        box-shadow: 0 -15px 10px 15px rgba(0,0,0,0.5);
        padding:16px;
        min-height: 100vh;
        
    }
    
}
.header{
    display: block;
    max-height: 220px;
    @include tablet{
        max-height: 200px;
    }
}

