.body {
      display: flex;
      align-items: center;
}

.contenidoBasicLayout {
      min-height: 100vh;
      text-align: center;
      @include tablet {
            padding: 10px;
      }

      .home {
            background-color: $backgrond-dark-light !important;
            box-shadow: 0 -15px 10px 15px rgba(0, 0, 0, 0.5);
            padding: 40px 16px 0px;
            min-height: 100vh;
            @include tablet {
                  padding-top: 15px;
            }
      }
}
.header {
      display: block;
      max-height: 220px;
      @include tablet {
            max-height: 200px;
      }
}
