.title {
  margin-top: 40px !important;
  margin-bottom: 0;
  padding: 10px;
  color: $font-color-orange;
  background-color: $backgrond-dark-light;
}
.contenedor {
  display: flex;
  flex-direction: column;
  background-color: $background-dark;
  color: $font-color-light;
}

.contenedor__secction {
  padding: 20px;
}

.contenedor__secction--ubicacion {
  display: flex;
  justify-content: center;

  i {
    margin-right: 14px;
  }
}
