.topbar {
    display: flex !important;
    flex-direction: column;
    justify-content:center;
    padding: 10px;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
    }
    @include desktop{
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
    }
    img {
        height: 80px;
        display: block;
        margin: 10px auto;
        @include tablet{       
            height: 80px;            
            margin-left: 35px;
        }
        

    }

}
.topbar__menu{
    margin-top: 15px;
    @include tablet{
        margin-top: 0px;
    }
}
.topbar__menu-options{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 0px 10px 0px 0px;
    @include tablet{
        padding: 10px 10px 0px 10px !important;
        min-width: 480px;
        margin-top: 15px;
        margin-right: 25px;
    }
    
    @include desktop{
        min-width: 550px;
        margin-right: 80px;
    }
    
    div{
        padding: 0.5px;
        a{
            line-height: 21px;
            text-emphasis: none;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            color:$font-color-light;
            letter-spacing: 0.1em;
            font-family: $typography;
            @include tablet{
                font-size: 17px;
            }
            &:hover{
                cursor: pointer;
                color: $font-color-orange;
            }
        }

        

    }

}
.topbar-hashtag{
    display: none;
    
    @include tablet{
        display: block;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
        text-align: right;
        color:$font-color-light;
        letter-spacing: 2px;
        font-family: $typography; 
        display: block;
    }
    &:hover{
        cursor: pointer;
        color: $font-color-orange;
        
    }
}
    