$color-principal: #ff452b;
$color-secundario: #fafafa;
$global-radius: 8px;
$global-border: 1px solid #e9e9e9;


$background-dark: #353432;
$backgrond-dark-light:#1d1d1c;
$background-light:#bcc0b8;

$font-color-light:#ffffff;
$font-color-orange:rgb(241, 65, 65);

$border-font: 1px solid #1d1d1c;
$typography:Helvetica, Arial, sans-serif;



