@import "./index.scss";




body{
    margin: 15vh auto 0 !important;
    background-color: $background-light;
}
a {
    text-decoration: none !important;
}

img,
picture {
    width: 100%;
    display: block;
}