@mixin grid($columnas, $espacio) {
      display: grid;
      grid-template-columns: repeat($columnas, 1fr);
      gap: $espacio;
      @media screen and (max-widt: 480) {
            grid-template-columns: 1fr;
            gap: 0em;
      }
}
//============mixins responsives============================
@mixin telefono {
      @media (min-width: 480px) {
            @content;
      }
}

@mixin tablet {
      @media (min-width: 780px) {
            @content;
      }
}

@mixin desktop {
      @media (min-width: 1024px) {
            @content;
      }
}
//===============================================
